*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
header{
    text-align: center;
}
header h1{
    color: #c33971;
    padding-bottom: 1rem;
    
}
div.box-page{
    width: 70%;
    margin: 3rem auto;
    height: 100px;
}

