*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
section.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

                                                        /*HEADER*/
header{
    text-align: center;
}
header h1{
    color: #c33971;
    padding-bottom: 1rem;
    
}
div.box-page{
    width: 70%;
    margin: 3rem auto;
}

                                                    /*SECTION BOX-TEAM*/

main section.box-team{
    margin: 2rem 2rem;
    background-color: black;
    width: calc(80% / 3);
    height: 4.5rem;
    float: left;
    box-shadow: 5px 10px 8px #888888;
}

main section{
    color: white;
    font-size: 12px;
}

img{
    height: 100%;
    float: left;
}

div.description{
    display: inline-block;
}

div.description p, div.description h3{
    padding: .3rem .5rem;
}

p.p-email{
    color: lightskyblue;
    text-decoration: underline;
}